img {
    display:block;
    max-width:100%;
    height:auto;
}

* {
    box-sizing:border-box;
}

html {
    background-image: url("images/vintage-wallpaper.jpg");
}

body {
    height:100%;
    color:white;
}

main {
    background-image: url(images/clouds.png);
    background-repeat: no-repeat;
    background-position: cover;
    width: 100%;
    max-width: 1200px;
    margin:auto;
    margin-bottom:70px;
    display:flex;
    min-height: 330px;
    border: 7px white solid;
    border-radius:12px;
}

main section {
    width: 25%;
    border-right: 7px white solid;
}

main section:last-of-type {
    border-right:none;
}

main h2 {
    padding-left:50px;
    font-family: "Faculty Glyphic";
    font-size: 26px;
}

main ul {
    color: white;
    font-family: "Faculty Glyphic";
    list-style-type:none;
    margin: 0;
}

main ul li a{
    display:block;
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: 1s ease;
    padding: 10px;
}

main ul li a:hover {
    color:rgb(97, 255, 184);
    transform: scale(1.1);
}

#container1 {
    width:100%;
    max-width:1200px;
    margin:auto;
    
}

header {
    margin-bottom:140px;
    position:relative;
}

header h1 {
    position:absolute;
    top:58px;
    left:262px;
    color:navy;
    font-family: "Faculty Glyphic";
    font-size: 18px;
}

header h2 {
    font-family: "Faculty Glyphic";
    font-size: 41px;
    position:relative;
    color: white;
    text-align:center;
    margin-bottom:0;
}

header h3 {
    color:white;
    text-align:right;
    font-family: "Londrina Sketch";
    font-size: 48px;
    font-weight: 200;
    margin-top:0;
    margin-right:300px;
}

#chat {
    position:absolute;
    left:230px;
    top:30px;
    transform: rotate(-25deg);
}

#cat {
    position:absolute;
    top:90px;
    left:350px;
}

#shelf {
    position:absolute;
    top:75px;
    left:300px;
}

#starOne {
    position:absolute;
    left:130px;
    bottom:6px;
    transition: rotate 2s ease;
}

#starOne:hover {
    rotate:180deg;
    cursor: pointer;
}

#starTwo {
    position:absolute;
    left:190px;
    top:100px;
    transition: rotate 2s ease;
}

#starTwo:hover {
    rotate:-180deg;
    cursor: pointer;
}

#starThree {
    position:absolute;
    left:100px;
    top:100px;
    transition: rotate 1s ease;
}

#starThree:hover {
    rotate:180deg;
    cursor: pointer;
}

#starFour {
    position:absolute;
    left:950px;
    top:0px;
    transition: rotate 2s ease;
}

#starFour:hover {
    rotate:-180deg;
    cursor: pointer;
}

#starFive {
    position:absolute;
    left:780px;
    top:110px;
    transition:rotate 1s ease;
}

#starFive:hover {
    rotate:180deg;
    cursor: pointer;
}

#starSix {
    position:absolute;
    left:890px;
    top:120px;
    transition: rotate 1s ease;
}

#starSix:hover {
    rotate:200deg;
    cursor: pointer;
}

footer {
    font-family: "Faculty Glyphic";
    color:#FFF;
    display:flex;
    justify-content: center;
    flex:1;
    gap:450px;
    align-items:center;
}

#flower {
    position:absolute;
    background: url(images/flower.png) no-repeat center/contain;
    width:60px;
    height:50px;
    display:flex;
    border-radius:50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        
    }
    to {
        transform: rotate(360deg);
        
    }
}

address a {
    color:#FFF;
}