* {
    box-sizing:border-box;
}

img {
    display:block;
    margin:auto;
}

html {
    background-image: url(images/intro-background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

body {
    margin: auto;
}

header {
    padding-top:80px;
    margin:auto;
}

header img {
    margin:0;
    height:100%;
    width:100px;
    padding-top:20px;
}

header div {
    display:flex;
    justify-content:center;
    gap:10px;
}

h1 {
    font-family: 'Rotunda Veneta';
    font-size: 130px;
    text-align:center;
    margin:0 0 0 0;
    color: #4A3114;
}

h2 {
    font-family: 'Rotunda Veneta';
    font-size:25px;
    text-align:center;
    margin-top:0px;
    color: #4A3114;
}

h3 {
    font-family: 'Rotunda Veneta';
    font-size:64px;
    text-align:center;
    color: #4A3114;
    margin-bottom:35px;
}

#gameplay h3 {
    color:#e0d5b1;
}

#startpage {
    font-family: 'Fraunces';
    margin:auto;
    width:380px;
}

#startpage p {
    padding-bottom:20px;
    color: #4A3114;
}

#startpage p a {
    padding-left:150px;
    color: #4A3114;
}

button {
    margin:auto;
    padding:5px 20px 5px 20px;
    background-color:orange;
    margin-left:45%;
    outline-color:#4A3114;
}

button:hover {
    background-color:#4A3114;
    color:orange;
    cursor:pointer;
}

#avatarselection {
    margin:auto;
    grid-template-columns: repeat(2,auto);
    width:750px;
    gap:30px;
    column-gap:90px;
    padding-top:20px;
    padding-bottom:30px;
    align-items:center;
    justify-items:center;
}

#avatarselection p {
    font-family: 'Rotunda Veneta';
    font-size: 50px;
    margin:0;
    color: #4A3114;
}

#player1selection, #player2selection {
    border:4px solid #4A3114;
    background-color:white;
    width: 250px;
    height:250px;
}

#startbutton {
    font-size:30px;
    font-family:'Fraunces';
    text-align:center;
}

#arrow1 {
    position:absolute;
    transform:rotate(-180deg);
    bottom:320px;
    left:220px;
    visibility:hidden;
}

#arrow2 {
    position:absolute;
    bottom:320px;
    left:530px;
}

#arrow3 {
    position:absolute;
    transform:rotate(-180deg);
    bottom:320px;
    right:530px;
    visibility:hidden;
}

#arrow4 {
    position:absolute;
    bottom:320px;
    right:220px;
}

#player1options img {
    position:absolute;
    bottom:210px;
    left:270px;
}

#player2options img {
    position:absolute;
    bottom:210px;
    right:270px;
}

#shuffle {
    position:absolute;
    bottom:130px;
    left:-140px;
    font-size: 40px;
    font-family:'Fraunces';
}

#gameplay {
    color:#e0d5b1;
    font-family: 'Rotunda Veneta';
    font-size:40px;
}

#game-setup {
    display:flex;
}

#game-setup p {
    flex:1;
}

.deck-container {
    position:relative;
    top:10px;
    left:520px;
}

.card {
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out, z-index 0.5s step-end;
  }


.hidden {
    display:none;
}

.show {
    display:block;
}