html {
    background-color: #dfddbb;
}

h1 {
    /* font-family:"aquavit"; */
    font-family: "futura-100";
    position:absolute;
    color:#3e6813;
    border-radius: 1066px;
    background: radial-gradient(50% 50% at 50% 50%, #EF9CDA 0%, rgba(219, 48, 105, 0.00) 100%);
    padding:50px;
    top:360px;
    left:110px;
    z-index:2;
}

main {
    display:flex;
}

section {
    background-color:#3e6813;
    border-radius:30px;
    margin:10px;
    margin-top:40px;
    overflow:auto;
    height:700px;
    border:#EF9CDA 5px solid;
    
}

article {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "header header date"
                         "content content content"
                         "content content content";
    background-color: #dfddbb;
    border-radius:20px;
    margin:20px;
}

article h2, article p, article div, article figcaption {
    color:#3e6813;
    padding:20px;
    font-family: "futura-100-book";
}

article figcaption {
    margin-right:0;
}

#journal4 {
    display: flex;
    position:relative;
    margin:50px;
}


article h2 {
    grid-area: header;
    font-size:40px;
    font-family: "futura-100";
}

article div {
    grid-area:date;
    font-family: "futura-100-book";
    text-align:right;
}

article p {
    grid-area:content;
    margin-top:-40px;
    columns: 2;
    font-family: "futura-100-book";
    line-height:23px;
}

article img {
    padding:20px;
}

main a {
    background-color:#EF9CDA;
    color:#3e6813;
}

main img {
    position:relative;
    z-index:1;
    top:30px;
    /* margin-top:-60px;
    margin-bottom:-60px;
    margin-left:-40px; */
    
    
}

footer {
    background-color:#3e6813;
    padding:1px;
    z-index:0;
}

footer p {
    text-align:center;
}

footer a {
    color:#EF9CDA;
    font-family: "futura-100-book";
}